<!DOCTYPE html>

<html>
   
   <link  rel="stylesheet", href="/css/style.css" >
    <script src="./js/app.js" ></script>
<head>
  <title> 404 </title>

</head>

<body>

  <div class="main-content">
    {{>header}}
    <p>{{ error }}</p>
  </div>
  
  {{>footer}}

</body>

</html>