<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" , href="/css/style.css">
  <script src="./js/app.js"></script>
  <title> Weather </title>

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>
      This site was created by Shafqat Shah. It used data from openweather.com
    </p>
    <img class="portrait" src="/img/robot.png" alt="robot">
  </div>
  {{>footer}}

</body>

</html>